
.container-fluid.text-lg-left.p-5.bg-light
  .display-4
    Be Light Bee
    .fas.fa-lightbulb
  
  .p-4  

  .form-control.my-2.my-lg-5
    = form_tag(courses_path, method: :get) do
      .input-group
        = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search", class: 'form-control-sm'
        %span.input-group-append
          %button.btn.btn-primary.btn-sm{:type => "submit"}
            %span.fa.fa-search{"aria-hidden" => "true"}


.card-group
  .card.card-body
    %h2
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a variety of fresh topics
  .card.card-body
    %h2
      .fa.fa-chalkboard-teacher
      /.fa.fa-brain
    = Course.distinct.count(:user_id)
    expert instructors
    .row
    Find the right instructor for you
  .card.card-body
    %h2
      .fa.fa-user-graduate
    = User.count
    active learners
    .row
    Join the knowledge sharing community
  .card.card-body
    %h2
      .fa.fa-infinity
    Lifetime access
    .row
    Learn on your schedule

%hr
%h2
  Popular courses
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course

%hr
%h2 
  Top rated courses
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course

%hr
%h2 
  Recent courses
.card-columns
  - @recent_couses.each do |course|
    = render 'courses/course', course: course

%hr

  // = link_to privacy_policy_path, class: "btn btn-lg btn-warning" do
  //   %i.fa-solid.fa-video
  //   Videos
    
  // = link_to  courses_path, class: "btn btn-lg btn-warning" do
  //   %i.fa-solid.fa-book
  //   Courses

    
